<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<script src="./other.js"></script>
<script src="./vars.js"></script>
<title>Welcome!</title>
</head>

<body>

<input onclick="upload()" type="button" value="Upload File" /><br />
<input onclick="results()" type="button" value="View Results" />

</body>

</html>
